*{
    margin: 0%;
    padding: 0%;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --roxoF:#320A28;
    --roxof1:#511730;
    --marrom:#874000;
    --laranja:#BC5F04;
    --laranjaV:#F4442E;

}

.container{
    
    text-align: center;
}

.container > img{
    margin-bottom: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
   
    
}

body{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom, #320A28, #F4442E)
}

h1{
    font-size: medium;
    color: darkgrey;
    text-align: center;
}

main{
    padding: 30px;
    margin-top: 100px;
    min-width: 320px;
    max-width: 500px;
    height: 500px;
    background-color: #320A28;
    margin: auto;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
}